<div class="steam-games-page steam-games-theme-<%= theme %>">
<% if (quote) { %>
<blockquote class="steam-games-quote">
    <p><%= quote; %></p>
</blockquote>
<% } %>
<% if (imgUrl) { %>
<a class="steam-games-profile" href="https://steamcommunity.com/profiles/<%= steamId %>/" target="_blank" rel="noopener noreferrer">
    <img src="<%= imgUrl %>" alt="Steam profile banner" loading="lazy">
</a>
<% } %>
<style>
    <%- include("index.css") -%>
</style>
<div class="steam-games-list-wrap">
    <div id="steam-item1" class="steam-games-list">
        <% games.forEach(function(item){ %>
        <%- include("template.ejs",{'__': __,item:item,steamId:steamId,imgUrl:imgUrl}) -%>
        <% }); %>
        <%- include("pagination.ejs") -%>
    </div>
</div>
</div>
<script>
    <%- include("index.js") -%>
    <%- include("pagination.js") -%>
</script>
