<blockquote>
    <p><%= quote; %></p>
</blockquote>
<a href="https://steamcommunity.com/profiles/<%= steamId %>/" target="_blank"><img src="<%= imgUrl %>"></a>
<style>
    <%- include("index.css") -%>
</style>
<div>
    <div id="steam-item1">
        <% games.forEach(function(item){ %>
        <%- include("template.ejs",{'__': __,item:item,steamId:steamId,imgUrl:imgUrl}) -%>
        <% }); %>
        <%- include("pagination.ejs") -%>
    </div>
</div>
<script>
    <%- include("index.js") -%>
    <%- include("pagination.js") -%>
</script>