<blockquote>
    <p><%= quote; %></p>
</blockquote>

<style>
    <%- include("index.css") -%>
</style>
<div>
    <div id="steam-item1">
        <% games.forEach(function(item){ %>
        <%- include("template.ejs",{item:item,loading:loading}) -%>
        <% }); %>
        <%- include("pagination.ejs") -%>
    </div>
</div>
<script>
    <%- include("index.js") -%>
    <%- include("pagination.js") -%>
</script>