<div class="steam-game-item">
    <div class="steam-game-picture"><img
            src="https://steamstore-a.akamaihd.net/public/shared/images/header/globalheader_logo.png"
            data-src="<%= item.logo %>" referrerPolicy="no-referrer" />
    </div>
    <div class="steam-game-info">
        <div class="steam-game-title">
            <a target="_blank" href="https://store.steampowered.com/app/<%= item.friendlyURL %>/"><%= item.name %></a>
        </div>
        <div class="steam-game-meta">
            <span class="steam-game-info-time">
                <%= __('totalHours',item.hours_forever) %>
            </span>
        </div>
    </div>
    <div class="steam-game-link">
        <a class="steam-game-button" target="_blank"
            href="https://store.steampowered.com/app/<%= item.friendlyURL %>"><%= __('storePage') %></a>
        <a class="steam-game-button" target="_blank"
            href="https://store.steampowered.com/forum/<%= item.friendlyURL %>"><%= __('forums') %></a>
        <a class="steam-game-button" target="_blank"
            href="https://steamcommunity.com/search/groups/?text=<%= item.name %>"><%= __('groups') %></a>
        <a class="steam-game-button" target="_blank"
            href="https://store.steampowered.com/appofficialsite/<%= item.friendlyURL %>"><%= __('website') %></a>
        <a class="steam-game-button" target="_blank"
            href="https://store.steampowered.com/news/?appids=<%= item.friendlyURL %>"><%= __('news') %></a>
        <a class="steam-game-button" target="_blank"
            href="https://steamdb.info/app/<%= item.friendlyURL %>">SteamDB</a>
    </div>
</div>