<div class="steam-game-item">
    <div class="steam-game-picture"><img
            src="https://steamstore-a.akamaihd.net/public/shared/images/header/globalheader_logo.png"
            data-src="https://cdn.cloudflare.steamstatic.com/steam/apps/<%= item.appid %>/header.jpg" referrerPolicy="no-referrer" />
    </div>
    <div class="steam-game-info">
        <div class="steam-game-title">
            <a target="_blank" href="https://store.steampowered.com/app/<%= item.appid %>/"><%= item.name %></a>
        </div>
        <div class="steam-game-meta">
            <span class="steam-game-info-time">
                <%= __('totalHours', (item.playtime_forever / 60).toFixed(1)) %>
            </span>
        </div>
    </div>
    <div class="steam-game-link">
        <a class="steam-game-button" target="_blank"
            href="https://store.steampowered.com/app/<%= item.appid %>"><%= __('storePage') %></a>
        <a class="steam-game-button" target="_blank"
            href="https://store.steampowered.com/forum/<%= item.appid %>"><%= __('forums') %></a>
        <a class="steam-game-button" target="_blank"
            href="https://steamcommunity.com/search/groups/?text=<%= item.name %>"><%= __('groups') %></a>
        <a class="steam-game-button" target="_blank"
            href="https://store.steampowered.com/appofficialsite/<%= item.appid %>"><%= __('website') %></a>
        <a class="steam-game-button" target="_blank"
            href="https://store.steampowered.com/news/?appids=<%= item.appid %>"><%= __('news') %></a>
        <a class="steam-game-button" target="_blank"
            href="https://steamdb.info/app/<%= item.appid %>">SteamDB</a>
    </div>
</div>
